strong {
    color: #4051b5;
}

/* [data-md-color-scheme="slate"] code {
  background-color: #0a0909;
} */

[data-md-color-scheme="slate"] h1{
  color: white
}

[data-md-color-scheme="default"] h1 {
  color: black;
}

[data-md-color-scheme="slate"] strong { 
  color: #ffec3d;
}

@keyframes emoji-animate {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}

.emoji-animate {
  animation: emoji-animate 1000ms infinite;
}

.curved-img {
  border-radius: 20px;
}